<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
 <userSettings>
  <ExcelToSQL.Properties.Settings>
   <setting name="DB_name" serializeAs="String">
    <value>Praktikum</value>
   </setting>
   <setting name="Path_to_folder_library" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>C:\Users\gaxy\Desktop\test</string>
      <string>C:\Users\gaxy\Desktop\test2</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="Copy_from" serializeAs="String">
    <value>C:\Users\gaxy\Desktop\1</value>
   </setting>
   <setting name="Copy_to" serializeAs="String">
    <value>C:\Users\gaxy\Desktop\test1</value>
   </setting>
   <setting name="open" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SQL_string" serializeAs="String">
    <value>Data Source=NOTEPC\SQLEXPRESS;Initial Catalog=praktikum;Integrated Security=True</value>
   </setting>
  </ExcelToSQL.Properties.Settings>
 </userSettings>
</configuration>